
<mat-card class="card" >
    <mat-card-header class="title_center">
      <mat-card-title  class="title_center"> {{this.name}}</mat-card-title>
    </mat-card-header>

    <table style="text-align: center; margin-left: 100px;width: 70%; margin-top: 40px;">
      <tr>
        <th>Height:</th>
        <td>{{this.height}}</td>
      </tr>

      <tr>
        <th>Mass:</th>
        <td>{{this.mass}}</td>
      </tr>


      <tr>
        <th>Hair Color:</th>
        <td>{{this.hair_color}}</td>
      </tr>


      <tr>
        <th>Skin Color:</th>
        <td>{{this.skin_color}}</td>
      </tr>


      <tr>
        <th>Eye Color:</th>
        <td>{{this.eye_color}}</td>
      </tr>

  

      <tr>
        <th>Gender:</th>
        <td>{{this.gender}}</td>
      </tr>

    </table>
  
  </mat-card>
