<!-- <p>chakra-ui works!</p> -->
<div>
  <h1  *ngIf="isLoading" class="Loading">Loading...</h1>

<mat-card class="card"  *ngFor="let character of this.character">
    <mat-card-header  class="title_center"> 
      <mat-card-title  class="title_center"> Name:{{character['name']}}</mat-card-title>
    </mat-card-header>

    <table style="text-align: center; margin-left: 100px;width: 70%; margin-top: 40px;">
      <tr>
        <th>Height:</th>
        <td>{{character['height']}}</td>
      </tr>

      <tr>
        <th>Mass:</th>
        <td>{{character['mass']}}</td>
      </tr>


      <tr>
        <th>Hair Color:</th>
        <td>{{character['hair_color']}}</td>
      </tr>


      <tr>
        <th>Skin Color:</th>
        <td>{{character['skin_color']}}</td>
      </tr>


      <tr>
        <th>Eye Color:</th>
        <td>{{character['eye_color']}}</td>
      </tr>

  

      <tr>
        <th>Gender:</th>
        <td>{{character['gender']}}</td>
      </tr>

    </table>
  

    <button mat-icon-button  (click)="toggleFavorite(character)" style="float:right ;">
      <mat-icon>favorite</mat-icon>
    </button>
    <button    mat-button color="accent" (click)="navigateCharacter(character)">View Character</button>
  </mat-card>
</div>

